@{
  Layout = "_Layout";
}

<h1>Are you sure you want to delete @Model.FirstName @Model.LastName?</h1>

@using (Html.BeginForm())
{
  <div class="text-center m-5">
    <input type="submit" value="Delete Engineer" class="btn btn-danger btn-lg my-2" />
  </div>
}