@{
  Layout = "_Layout";
}

@using Factory.Models

<h1>Dr. Sillystringz's Factory</h1>

<div class="container">
  <div class="row">
    <div class="col-sm page-content m-1 py-2">
      <h2 class="text-center">Engineers</h2>
      @if (ViewBag.EngineerList.Count == 0)
      {
        <h3 class="text-center">No engineers have been added!</h3>
      }
      else
      {
        <ul>
          @foreach (Engineer engineer in ViewBag.EngineerList)
          {
            <li>
              @Html.ActionLink($"{engineer.LastName}, {engineer.FirstName}", "Details", "Engineers", new { id =
          engineer.EngineerId })
            </li>
          }
        </ul>
      }
    </div>
    <div class="col-sm page-content m-1 py-2">
      <h2 class="text-center">Machines</h2>
      @if (ViewBag.MachineList.Count == 0)
      {
        <h3 class="text-center">No machines have been added!</h3>
      }
      else
      {
        <ul>
          @foreach (Machine machine in ViewBag.MachineList)
          {
            <li>
              @Html.ActionLink($"{machine.ProductModel}", "Details", "Machines", new { id = machine.MachineId })
            </li>
          }
        </ul>
      }
    </div>
  </div>
</div>